<div class="col-md-12" id="directionsPanel">
    <div class="col-md-12" id="cRS">
        <div class="col-md-12 cmp" id="cId0" style="margin-bottom: 2rem;">
            <div class="col-md-12">
                <div class="col-md-1" style="padding-right: 0; padding-top: 5px; width: 5%;">
                    <span class="glyphicon glyphicon-pencil" style="font-size: x-large;" aria-hidden="true"></span>
                </div>
                <div class="col-md-7" style="margin-right: 2rem;">
                    <input class="form-control" style="outline: none; box-shadow: none; background: transparent; border: 1px none white;border-bottom-style: solid;
                border-radius: 0; font-size: 2rem; font-family: serif;" title="section_description" name="recipe[directions][component]"
                       type="text" placeholder="I'm Pickle Rick"/>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-block" id="aC0"
                        onclick="dup('#cRS', 'div#cId', '.cmp', this)">
                        Add Component
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-block btn-danger hidden" id="rC0"
                            onclick="dedup((this.id).replace(/\D/g,''), this)">
                        Remove
                    </button>
                </div>
            </div>
            <div class="col-md-12" id="sRS">
                <div class="col-md-12 cSD">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="sD0">Step</label>
                            <textarea class="form-control" rows="3" id="sD0" name="recipe[directions][component][step]"
                                      placeholder="Break Some Eggs"></textarea>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-block" id="aS0"
                                style="margin: 25px auto;" onclick="cloneItem('#sRS', 'div#s')">
                            Add Step
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-block btn-danger hidden"
                                id="rS0" style="margin: 25px auto;"
                                onclick="removeItem(this.id, {repeatingSection: '#sRS', sectionComponents: ['.stepDirection', 'step_', '#step_', '.step_label', '.line_step', '#addStep_', '#removeStep_', 'hidden']}
                        )">
                            Remove Step
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>