<div id="ingredientPanel">
    <div class="col-md-12" style="margin-bottom: 2rem;">
        <label for="component_0">Component 1</label>
        <input class="form-control" id="component_0" type="text" value="Dough">
    </div>
    <div class="col-md-12" id="item_repeatingSection">
        <div class="col-md-12 item" id="item_0">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="item_label" for="item_amt_input_0">Amount</label>
                    <input class="form-control line_item" type="text"
                        id="item_amt_input_0" name="recipe[ingredients]" placeholder="1">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="item_label" for="item_unit_input_0">Unit</label>
                    <input class="form-control line_item" type="text"
                        id="item_unit_input_0" name="recipe[ingredients]" placeholder="oz">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="item_label" for="item_name_input_0">Name</label>
                    <input class="form-control line_item" type="text"
                           id="item_name_input_0" name="recipe[ingredients]" placeholder="Eggs">
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block" id="addItem_0"
                        style="margin: 25px auto;" onclick="cloneItem('#item_repeatingSection', '#item_')">
                    Add Another
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-danger hidden"
                        id="removeItem_0" style="margin: 25px auto;" onclick="removeItem(this.id, {repeatingSection: '#item_repeatingSection', sectionComponents: ['.item', 'item_', '#item_', '.item_label', '.line_item', '#addItem_', '#removeItem_', 'hidden']}
)">
                    Remove
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" style="text-align: center;">
    <button class="btn btn-block" style="width: 50%; margin: 0 auto;">Add Component</button>
</div>