<div class="container">
    <% if (errMsg && errMsg.length > 0) { %>
    <div class="panel panel-danger">
        <div class="panel-heading">Error!</div>
        <div class="panel-body"><%= errMsg %></div>
    </div>
    <% } else if (sucMsg && sucMsg.length > 0) { %>
    <div class="panel panel-success">
        <div class="panel-heading">Success!</div>
        <div class="panel-body"><%= sucMsg %></div>
    </div>
    <% } %>
</div>