        </div>
        </div>
        <% if (sf) { %>
        <% var company = 'Dustin K Greco'; %>
        <% var currentYear = new Date().getUTCFullYear(); %>
        <% var cRNotice = 'Copyright'.concat('\u00A9\u0020', currentYear); %>
        <div class="text-center fixed-bottom nav-Stain" id="footer">
            <a style="color:white;" href="/">
                Home
            </a>
            <div>
                <%= cRNotice %> - <a href="https://www.linkedin.com/in/dkgreco/" style="color:white;">Dustin K Greco</a>
            </div>
        </div>
        <% } %>
    </body>
</html>