<nav class="navbar nav-Stain">
    <div class="navbar-header">
        <a class="navbar-brand link-Stain" href="/">Slantos</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <% if (user) { %>
            <li>
                <a class="link-Stain"><%= user.firstName %> <%= String(user.lastName).substring(0, 1) %>.</a>
            </li>
            <li>
                <a class="link-Stain" href="/signout">Logout</a>
            </li>
            <% } else { %>
            <li>
                <a class="link-Stain" href="/signin">Login</a>
            </li>
            <li>
                <a class="link-Stain" href="/signup">Sign Up</a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>