<script>
    let co2 = [
        [1959, 315.97],
        [1960, 316.91],
        [1961, 317.64],
        [1962, 318.45]
        ],
        temp = [
            [1959, 0.0776],
            [1960, 0.0280],
            [1961, 0.1028],
            [1962, 0.1289]
        ]

    window.onload = function() {
        Flotr.draw(
            document.getElementById('line_Chart'),
            [{
                data: co2,
                lines: {show: true}
            }]
        );
    };
</script>
<div id="line_Chart" style="width: 300px; height: 300px;">

</div>