<div class="row" style="background-color: rgba(239,231,215,0.9); border-radius: 15px; padding: 13px; margin: 0;">
    <div class="col-md-12" style="padding-left: 35px;">
        <ol>
            <% inq.directionLink.directions.forEach(function(sDir) { %>
            <li style="padding: 0 0 10px 0; font-size: larger;">
                <span>
                    <%= sDir.step.description %>
                </span>
            </li>
            <% }); %>
        </ol>
    </div>
</div>