<div class="row" style="background-color: rgba(239,231,215,0.9); border-radius: 15px; padding: 13px; margin: 0;">
    <div class="col-md-12">
        <ul>
            <% inq.recipeLink.ingredients.forEach(function(ingredient) { %>
                <li style="padding: 0 0 5px 0; font-size: larger;">
                    <span>
                        <%= ingredient.item.unit %> <%= ingredient.item.amtType %> <%= ingredient.item.name %>
                    </span>
                </li>
            <% }); %>
        </ul>
    </div>
</div>