<div class="row">
    <div class="col-md-12" style="margin: 0 0 15px 0;">
        <h3 style="text-align: center;">Please
            <a href="/signup" style="color: royalblue">Sign-Up</a>
            or
            <a href="/signin" style="color: royalblue">Log In</a>
            to Create and View Reviews
        </h3>
    </div>
</div>