<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="width: 10%; margin: 0 auto; text-align: center; background-color: rgba(239,231,215,0.9); border-radius: 10px;">About</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <article style="background-color: rgba(239,231,215,0.9); border-radius: 10px;">
                <h1 style="padding: 10px 0 0 10px;">The Website</h1>
                <p style="padding: 10px; font-size: larger;">
                    First and Foremost - This is a space to build my skills. Whether that involves developing
                    this site and its functionality specifically, or, advancing my skill with baking: this is meant to
                    keep me engaged. Anyone visiting this site is welcome to navigate around and check out what the site
                    has to offer. Bread recipes will be uploaded as often as possible. The site may change here and there.
                    I appreciate you visiting me and I hope you enjoy everything the site has to offer!
                </p>
                <p style="padding: 10px; font-size: larger;">
                    Have a suggestion to make the site better? Feel free to contact me and let me know. Who knows...
                    It may end up on the backlog.
                </p>
                <blockquote style="padding: 10px; margin: 10px; font-size: larger">
                    "One cannot think well, love well, sleep well, if one has not dined well."
                    <h5> - Virginia Woolf</h5>
                </blockquote>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <article style="background-color: white; padding: 10px; background-color: rgba(239,231,215,0.9); border-radius: 10px;">
                <h1>The Webmaster</h1>
                <p style="font-size: larger;">
                    I fell into development by accident while attempting to automate an excel report I had to generate
                    on a daily basis. That act led to what you see and are interacting with today.  I spent the last 7
                    years writing code to configure products, build reports, automate work and task flow. I became
                    proficient in languages such as JavaScript, Java, Groovy, Various flavors of SQL, VBA, et al.
                    throughout my career with great companies. Now I'm trying something new. I'm excited to see where
                    I can take myself.
                    <br/>
                    <br/>
                    Cheers,
                    <br/>
                    Dustin K Greco
                </p>
            </article>
        </div>
        <div class="col-md-4">
            <img style="border-radius: 10px;" src="/img/creator/me2_.jpg"/>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <article style="background-color: white; padding: 10px; background-color: rgba(239,231,215,0.9); border-radius: 10px;">
                <h1>The Technology</h1>
                <p style="font-size: larger;">
                    This site would not be possible without the use of various tools and technologies. The semi-comprehensive
                    list is below:
                </p>
                <ul style="list-style-type: none; font-size: larger;">
                    <li>
                        <a>NodeJS</a>
                    </li>
                    <li>
                        <a>MongoDB</a>
                    </li>
                    <li>
                        <a>Jetbrains WebStorm</a>
                    </li>
                    <li>
                        <a>Git</a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</div>
<% var sf = true; %>
<% include partials/footer %>