<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="width: 100%; margin: 0 auto;
            text-align: center; background-color: rgba(239,231,215,0.9); border-radius: 10px;">
                You have successfully deleted your Slantos account.
            </h1>
        </div>
    </div>
</div>
<% var sf = true; %>
<% include partials/footer %>