<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>A World Of Bread!</h1>
            <blockquote cite="">
                “For she was a child, throwing bread to the ducks, between her parents who stood by the lake, holding her life in her arms which, as she neared them, grew larger and larger in her arms, until it became a whole life, a complete life, which she put down by them and said, "This is what I have made of it! This!" And what had she made of it? What, indeed?”
            </blockquote>
            <p>
                <a class="btn btn-primary btn-lg" href="/breads/new">Add A New Bread</a>
            </p>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% breadsList.forEach(function(typeOfBread) { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= typeOfBread.image %>"/>
                <div class="caption">
                    <h4><%= typeOfBread.title %></h4>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<% include partials/footer %>