<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <% for (var i in messages) { %>
            <div class="flash"><%= messages[i] %></div>
        <% } %>
        <a href="/oauth/facebook">Make Signing up a breeze! Use Facebook To Sign Up!</a><br/>
        <a href="/oauth/google">Make Signing up a breeze! Use Google To Sign Up!</a><br/>
        <!--<a href="/oauth/twitter">Make Signing up a breeze! Use Twitter To Sign Up!</a><br/>-->
        <form action="/signup" method="post">
            <div>
                <label for="firstName">First Name:</label>
                <input id="firstName" type="text" name="firstName" />
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input id="lastName" type="text" name="lastName" />
            </div>
            <div>
                <label for="email">Email Name:</label>
                <input id="email" type="email" name="email" />
            </div>
            <div>
                <label for="username">Username:</label>
                <input id="username" type="text" name="username" />
            </div>
            <div>
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" />
            </div>
            <div>
                <label for="role">Role:</label>
                <select title="role" name="role">
                    <option value="admin">Administrator</option>
                    <option value="owner">Owner</option>
                    <option value="user">User</option>
                </select>
            </div>
            <div>
                <input type="submit" value="Sign Up">
            </div>
        </form>
    </body>
</html>